---
import { getCollection } from "astro:content";
import type { TargetMapComponent } from "../../components/build.js";
import LayoutTarget from "../../layouts/Target.astro";
export async function getStaticPaths() {
	const targets = await getCollection("targets");
	return targets.map((target) => ({
		params: { id: target.id.replaceAll(" ", "_").replaceAll("-", "_") },
		props: {
			maps: target.data.maps,
			name: target.data.name,
		},
	}));
}
interface Props {
	maps: TargetMapComponent[];
	name: string;
}
const { maps, name } = Astro.props;
---

<LayoutTarget title={name}>
	<h1>{name}</h1>
	<ul>
		{
			maps.map(({ host, name, url }: TargetMapComponent) => {
				if (
					typeof host !== "undefined" &&
					typeof name !== "undefined"
				) {
					return (
						<li>
							<a rel="external" href={url}>
								{host} <code>{name}</code>
							</a>
						</li>
					);
				} else {
					return (
						<li>
							<a rel="external" href={url}>
								{url}
							</a>
						</li>
					);
				}
			})
		}
	</ul>
</LayoutTarget>
