---
import "../styles/main.scss";
import ComponentGoogleFonts from "./GoogleFonts.astro";
interface Props {
	ogLang?: string;
	title?: string;
}
const { ogLang = "en_US", title = "" } = Astro.props;
const titleFmt: string = `${title.length > 0 ? `${title} | ` : ""}DistBoard @hugoalh`;
---

<head>
	<meta charset="utf-8" />
	<meta name="color-scheme" content="light dark" />
	<meta
		name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, interactive-widget=resizes-content, viewport-fit=contain"
	/>
	<ComponentGoogleFonts
		block={[
			"Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-25..200",
		]}
		swap={[
			"Noto+Color+Emoji",
			"Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900",
			"Noto+Sans+Mono:wdth,wght@62.5..100,100..900",
			"Noto+Sans+JP:wght@100..900",
			"Noto+Sans+KR:wght@100..900",
			"Noto+Sans+TC:wght@100..900",
		]}
	/>
	<meta name="generator" content={Astro.generator} />
	<meta name="robots" content="index, follow" />
	<meta property="og:title" content={titleFmt} />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content={ogLang} />
	<meta property="og:site_name" content="DistBoard @hugoalh" />
	<meta property="twitter:title" content={titleFmt} />
	<slot />
	<title>{titleFmt}</title>
</head>
