---
interface Props {
	timestamp: Date;
	wrapEnd?: string;
	wrapStart?: string;
}
const { timestamp, wrapEnd = "", wrapStart = "．" } = Astro.props;
function padZero(input: number): string {
	return input.toString().padStart(2, "0");
}
const timestampISO: string = timestamp.toISOString();
const timestampYear: string = timestamp.getUTCFullYear().toString();
const timestampMonth: string = padZero(timestamp.getUTCMonth() + 1);
const timestampDate: string = padZero(timestamp.getUTCDate());
const timestampHours: string = padZero(timestamp.getUTCHours());
const timestampMinutes: string = padZero(timestamp.getUTCMinutes());
const timestampSeconds: string = padZero(timestamp.getUTCSeconds());

/*
The fragment around the element is used as a workaround to avoid a trailing whitespace in the output. See https://github.com/withastro/compiler/issues/1003.
*/
---

<>
	<span
		class="timebox"
		data-relative-wrap-end={wrapEnd}
		data-relative-wrap-start={wrapStart}
	>
		<time class="absolute" datetime={timestampISO}
			>{
				`${timestampYear}-${timestampMonth}-${timestampDate} ${timestampHours}:${timestampMinutes}:${timestampSeconds} UTC`
			}</time
		>
	</span>
</>
<script src="./timebox.ts"></script>
